<h2 mat-dialog-title>
  {{ editedStudent ? 'Editing ' + editedStudent.firstName : 'Register student' }}
</h2>
<mat-dialog-content>
  <form [formGroup] ="studentForm">

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput />
      <mat-error>First name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput />
      <mat-error>Last name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="onSubmit()">Save</button>
</mat-dialog-actions>
