<h2>Students</h2>

<button (click)="openDialog()" mat-flat-button>
  <mat-icon>add</mat-icon>Add student
</button>

<p>Added student: {{ studentName }}</p>

<table mat-table [dataSource]="dataSource">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <!-- Birth Date Column -->
  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef>Birth Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.birthDate | date : "dd/MM/YYYY" }}
    </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="regDate">
    <th mat-header-cell *matHeaderCellDef>Enrollment Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.regDate | date : "dd/MM/YYYY" }}
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="editStudent(element)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteStudentById(element.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- DEFINES THE COLUMNS SHOWN IN THE TABLE -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
